<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/lteLayout.html}">

<head>

    <title>Document</title>
</head>

<body>
    <div layout:fragment="content">
        <form action = "/board/regist" method = "post">

        <h4>제목</h4>
        
        <input type="text" name="title"> <br>
        
        <h4>작성자</h4>
        <input type="text" name="writer"> <br>
        <br>
        <br>
        <h4>내용을 입력하세요</h4>
        <textarea rows="20" cols="50" name="content"> </textarea> <br>
        <input type="submit" value="등록">
        </form>
    <a th:href="@(/board/list)"></a>
    </div>
</body>

</html>